{% extends 'registration/base.html' %}

{% block content %}
<style>

input{
  width:80%;
}
button{

}
</style>
<div style="height: 20%;;"></div>
<div class="container align-items-center">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-xs-4">
      
          
    </div>
  <div class="col-sm-12 col-md-6 col-xs-6" >
 
<div class="card card-login">
  <div class="card-header ">
    <div class="card-header ">
      <h3 class="header text-center">Forgot password</h3>
      {% if form.errors %}
      <small style="color:red">Your username and password didn't match. Please try again.</small>
      {% endif %}
    </div>
  </div>
  <div class="card-body ">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset</button>
    </form>
  </div>

</div>

</div>

</div>

</div>
{% endblock %}