{% extends 'registration/base.html' %}

{% block content %}

<style>
    label{
      font-size:6em;
      padding:10px;
    }
    input{
      width:80%;
    }
    button{
      background-color: #fbc658;
        color: #fff;
        border-width: 1px;
        border-radius: 30px;
        padding-right: 23px;
        padding-left: 23px;
        width: 100%;
        cursor: pointer;
        margin:0;
        border-width: 2px;
        font-weight: 600;
        font-size: .8571em;
        line-height: 1.35em;
        text-transform: uppercase;
        border: none;
        margin: 10px 1px;
        border-radius: 3px;
        padding: 11px 22px;
        cursor: pointer;
        background-color: #66615b;
        color: #fff;
        transition: all .15s linear;
    }
    </style>
    <div class="card card-login">
      <div class="card-header ">
        <div class="card-header ">
          <h3 class="header text-center">Change password</h3>
          {% if form.errors %}
          <small style="color:red">Your password didn't match. Please try again.</small>
          {% endif %}
        </div>
      </div>
      <div class="card-body ">
          {% if validlink %}
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
      </div>
    
    </div>



{% endblock %}