<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Product Management</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description"
        content="Eunoia A tool, for Startups to Ideate , Validate, Organize,Define and Execute their Product strategy">
    <meta name="author" content="rebataur">
    <meta property="og:url" content="https://eunoia.uno">
    <meta property="og:title" content="Eunoia">
    <meta property="og:description"
        content="Eunoia A tool, for Startups to Ideate , Validate, Organize,Define and Execute their Product strategy">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rebataur">
    <meta name="twitter:creator" content="@rebataur">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <link rel="icon" href="img/favicons/favicon.png">
    <link rel="stylesheet" href="{% static 'spectre/dist/spectre.min.css'%}">
    <link rel="stylesheet" href="{% static 'spectre/dist/spectre-icons.min.css'%}">
    <link rel="stylesheet" href="{% static 'spectre/dist/spectre-exp.min.css'%}">
    <link rel="stylesheet" href="{% static 'spectre/docs/dist/docs.min.css'%}">
    <link rel="canonical" href="https://eunoia.uno">

    <style>
        .btn.btn-primary {
            background: black;
            border-color: #4b48d6;
            color: #fff;
        }

        .grid-hero .card .card-title {
            color: black;
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        .section-hero .docs-brand h2 {
            color: black;
        }

        div#bg {
            /* background-image: url("{% static 'images/chaos1.jpg' %}") !important; */
            background-image: url("/static/images/backgroundimage.jpg") !important;
            /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("{% static 'images/chaos.jpg' %}"); */
            background-size: cover;
            background-repeat: no-repeat;
            /* opacity : 0.2  ; */
            z-index: -1;
            background-color: hsla(0, 0%, 100%, 0.60);
            background-blend-mode: overlay;
            background-repeat: no-repeat;
            color: black;
            /* filter:grayscale(70%); */
            height: 100vh;


            /* background-position-y: -100px; */
            ;
        }
    </style>
</head>

<body>

    <!-- <div id="bg" class="section section-hero bg-gray"> -->
    <div id="bg" class="section section-hero ">

        <div class="grid-hero container grid-lg text-center" id="overview">
            <div class="docs-brand"><a class="docs-logo" href="#">
                    <!-- <img
                        src="" alt="Eunoia"> -->
                    <h2>Eunoia</h2>
                    <hr>
                    <em>Bring your teams best thoughts together to innovate</em>
                </a></div>
            <h1 style="background-color: gold;color:black;padding:1em;border-radius:4px">Validate your Ideas, Define
                Your Product, Execute Your Project
            </h1>
            <h2 style="color:black">A
                tool,
                for <u>Startups</u> to
                <u>Ideate</u> , <u>Validate</u>, <u>Organize</u>,<u>Define</u> and <u>Execute</u> their <u>Product
                    strategy</u>
            </h2>
            <p><a class="btn btn-primary btn-lg mr-2" href="/signup">Register</a><a class="btn btn-primary btn-lg"
                    href="/accounts/login">Login</a></p>
            <!-- <p class="text-gray">Latest version: <span class="version"></span></p> -->
            <div class="columns">

                <div class="column col-4 col-xs-12">
                    <div class="card text-center"
                        style="background-color:black;color:white;padding:1em;border-radius:4px">
                        <div class="card-header"><span class="card-title" style="color:white">Brainstorm</span></div>
                        <div class="card-body">Empathise with users and Brainstorm ideas around topic, like them, mark
                            them as your strength, take feedback</div>
                    </div>
                </div>
                <div class="column col-4 col-xs-12">
                    <div class="card text-center"
                        style="background-color:black;color:white;padding:1em;border-radius:4px">
                        <div class="card-header"><span class="card-title" style="color:white">Ideate</span></div>
                        <div class="card-body">Ideate and Validate your brainstomed ideas using Design Thinking,
                            incubate, productize or put them in attic</div>
                    </div>
                </div>
                <div class="column col-4 col-xs-12">
                    <div class="card text-center"
                        style="background-color:black;color:white;padding:1em;border-radius:4px">
                        <div class="card-header"><span class="card-title" style="color:white">Execute</span></div>
                        <div class="card-body">Add features, prioritize, add tasks to feature, adapt based on new
                            information and execute using kanban board</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <center>

                <div class="column col-12 col-xs-12">
                    <video id="myVideo" width="80%" height="80%" controls autoplay>
                        <source src="{% static 'marketing/videos/mvp1.mp4'%}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>

                </div>

            </center>
        </div>

        <div class="columns">

            <div class="container centered">
                <h1 class="text-center" style="margin-top: 5%;">Pricing</h1>
                <!-- <p class="text-center text-large explanation">It's usually good to offer 3 options for pricing. It's also a good practice to provide -->
                visual clarification for the best deal.</p>
                <div class="columns" style="margin-left: 15%; margin-right: 15%;">
                    <div class="column col-4 text-center">

                        <!-- mt-2 style pushes down left & right columns -->
                        <div class="card mt-2">
                            <div class="card-header bg-primary">
                                <div class="card-title">
                                    <h2>Early Stage Startup
                                    </h2>
                                    <h2>Eunoia Core</h2>
                                </div><!-- .card-title -->
                            </div>
                            <!--- .card-header -->
                            <div class="card-body">
                                <p class="h3">OpenSource & Free Forever
                                    <span class="bg-gray h5">$0/month</span></p>

                                <p>Single User
                                    <p>Can Add 3 Guest User</p>
                                    <p>(Guest users can Provide comments only)</p>
                                    <p>500 Blocks</p>
                                    <p>100 MB Storage</p>
                                    <p>Brainstorming</p>
                                    <p>Ideation / Validation</p>
                                    <p>Features Definition</p>
                                    <p>Prioritization</p>
                                    <p>Kanban </p>
                                    <a href="/signup" class="btn btn-default">Register</a>
                            </div><!-- .card-body -->
                        </div><!-- .card -->

                    </div><!-- .column .col-4 -->

                    <div class="column col-4 text-center">

                        <!-- Without mt-2 style this "pushes up" the center column -->
                        <div class="card navshadow">
                            <div class="card-header bg-primary">
                                <div class="card-title">
                                    <h2>Growth Stage Startup
                                        <h2>Eunoia Lean</h2>
                                        <em>Coming Soon</em>
                                    </h2>
                                </div><!-- .card-title -->
                            </div>
                            <!--- .card-header -->
                            <div class="card-body">
                                <p class="h3">$3/user/mo <span class="bg-gray h5"><small><br>20% Discount on yearly subscription</small></span></p>
                                All of Eunoia Core
                                <p>500Blocks/User</p>
                                <p>100 MB/User</p>
                                <p>Invite 9 Guests</p>
                                <p>Collaboration Features</p>
                                <p>Comparative Market Data</p>
                                <p>Org Structure/Mind Maps</p>
                                <p>Ecosystem Feedback</p>

                                <!-- <p><span class="text-bold text-large text-success"> BEST VALUE </span></p> -->
                               <form ic-post-to="{% url 'coreapp:notify' %}" method="POST">
                                {% csrf_token %}
                 
                                <input name="email" type="email" placeholder="your email address" required/>
                                <button type="submit" class="btn btn-primary">Notify me</button>
                            </form>
                            </div><!-- .card-body -->
                        </div><!-- .card -->

                    </div><!-- .column .col-4 -->

                    <div class="column col-4 text-center">

                        <!-- mt-2 style pushes down left & right columns -->
                        <div class="card mt-2">
                            <div class="card-header bg-gray">
                                <div class="card-title">
                                    <h2>Scale Stage Startup
                                        <h2>Eunoia Extended</h2>
                                        <em>Coming Soon</em>
                                    </h2>
                                </div><!-- .card-title -->
                            </div>
                            <!--- .card-header -->
                            <div class="card-body">
                                <p class="h3">$7/user/mo <span class="bg-gray h5"><small><br>20% Discount on yearly subscription</small></span></p>
                                <p>All of Eunoia Lean Plus Supporting Apps in
                                    <br>

                                    <em>Digital Marketing</em>
                                    <br>
                                    <em> Recruitment</em>
                                    <br>
                                        <em>      HR</em>
                                    
                                    
                                    
                                    </p>
                                    <form ic-post-to="{% url 'coreapp:notify' %}" method="POST">
                                        {% csrf_token %}
                         
                                        <input name="email" type="email" placeholder="your email address" required/>
                                        <button type="submit" class="btn btn-primary">Notify me</button>
                                    </form>
                            </div><!-- .card-body -->
                        </div><!-- .card -->
                    </div>

                </div><!-- .columns -->

            </div><!--  .container -->
        </div>

    </div>
    <!-- <div class="section section-ads bg-gray">
        <div class="docs-ad">
        </div>
    </div> -->
    <!-- <div class="section section-features bg-primary text-light text-center">
        <div class="container grid-lg">
            <h2>Introduction</h2>
            <div class="columns">
                <div class="column col-10 col-sm-12 col-mx-auto text-left">
                    <p class="text-secondary"><strong>Spectre.css </strong>is a lightweight, responsive and modern CSS
                        framework for faster and extensible development.</p>
                    <p class="text-secondary">Spectre provides basic styles for typography and elements, flexbox based
                        responsive layout system, pure CSS components and utilities with best practice coding and
                        consistent design language.</p>
                </div>
                <div class="column col-10 col-sm-12 col-mx-auto"><a class="btn btn-lg"
                        href="getting-started/installation.html">Install Spectre.css</a></div>
            </div>
        </div>
    </div>
    <div class="section section-updates bg-gray">
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-4 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h6">Spectre Twitter</div>
                        </div>
                        <div class="card-body">For the latest announcements and updates, follow on Twitter: <a
                                href="https://twitter.com/spectrecss" target="_blank">@spectrecss</a>.</div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://twitter.com/spectrecss"
                                target="_blank">Follow</a></div>
                    </div>
                </div>
                <div class="column col-4 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h6">PayPal Donate</div>
                        </div>
                        <div class="card-body">Spectre.css is completely free to use. If you enjoy it, please consider
                            donating for the further development.</div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.paypal.me/picturepan2"
                                target="_blank">Donate</a></div>
                    </div>
                </div>
                <div class="column col-4 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h6">Sponsor via Patreon</div>
                        </div>
                        <div class="card-body">Your name or company logo will be put on Spectre Docs homepage.</div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.patreon.com/spectrecss"
                                target="_blank">Sponsor</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-ads bg-gray"></div>
    <footer class="section section-footer">
        <div class="docs-footer container grid-lg" id="copyright">
            <p><a href="https://github.com/picturepan2/spectre" target="_blank">GitHub</a> · <a
                    href="https://twitter.com/spectrecss" target="_blank">Twitter</a> · <a
                    href="https://www.paypal.me/picturepan2" target="_blank">PayPal Donate</a> · <a
                    href="https://www.patreon.com/spectrecss" target="_blank">Patreon Sponsor</a> · Version <span
                    class="version"></span></p>
            <p>Designed and built with <span class="text-error">&hearts;</span> by <a
                    href="https://twitter.com/picturepan2" target="_blank">Yan Zhu</a>. Licensed under the <a
                    href="https://github.com/picturepan2/spectre/blob/master/LICENSE" target="_blank">MIT License</a>.
            </p>
        </div>
    </footer> -->


    
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/intercooler.min.js'%}"></script>
    <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id="csrf" ic-global-include="#csrf">

</body>

</html>